LogicAppsDemo4ContentHub/LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "PublishLINEName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "PublishLINELocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2",
        "koreacentral",
        "koreasouth",
        "francecentral",
        "francesouth",
        "uaecentral",
        "uaenorth",
        "southafricanorth",
        "southafricawest",
        "switzerlandnorth",
        "switzerlandwest",
        "germanynorth",
        "germanywestcentral",
        "norwaywest",
        "norwayeast",
        "brazilsoutheast",
        "westus3"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "servicebus_2_Connection_Name": {
      "type": "string",
      "defaultValue": "servicebus"
    },
    "servicebus_2_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "ch-service-bus"
    },
    "servicebus_2_connectionString": {
      "type": "securestring",
      "metadata": {
        "description": "Azure Service Bus Connection String"
      }
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('PublishLINEName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('PublishLINELocation')]",
      "apiVersion": "2016-06-01",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('servicebus_2_Connection_Name'))]"
      ],
      "tags": {
        "displayName": "PublishLINE"
      },
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "変数を初期化する": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "host_header",
                    "type": "string",
                    "value": "@{triggerBody()?['Properties']['host']}"
                  }
                ]
              },
              "runAfter": {}
            },
            "変数を初期化する_2": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "apitoken",
                    "type": "string",
                    "value": "@{triggerBody()['Properties']['apitoken']}"
                  }
                ]
              },
              "runAfter": {
                "変数を初期化する": [
                  "Succeeded"
                ]
              }
            },
            "変数を初期化する_3": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "imageurl",
                    "type": "string"
                  }
                ]
              },
              "runAfter": {
                "変数を初期化する_2": [
                  "Succeeded"
                ]
              }
            },
            "作成": {
              "type": "Compose",
              "inputs": "@base64ToString(triggerBody()?['ContentData'])",
              "runAfter": {
                "変数を初期化する_3": [
                  "Succeeded"
                ]
              }
            },
            "JSON_の解析": {
              "type": "ParseJson",
              "inputs": {
                "content": "@outputs('作成')",
                "schema": {
                  "properties": {
                    "context": {
                      "properties": {},
                      "type": "object"
                    },
                    "saveEntityMessage": {
                      "properties": {
                        "ChangeSet": {
                          "properties": {
                            "Cultures": {
                              "items": {
                                "type": "string"
                              },
                              "type": "array"
                            },
                            "PropertyChanges": {
                              "type": "array"
                            },
                            "RelationChanges": {
                              "items": {
                                "properties": {
                                  "Cardinality": {
                                    "type": "integer"
                                  },
                                  "NewValues": {
                                    "items": {
                                      "type": "integer"
                                    },
                                    "type": "array"
                                  },
                                  "Relation": {
                                    "type": "string"
                                  },
                                  "RemovedValues": {
                                    "items": {
                                      "type": "integer"
                                    },
                                    "type": "array"
                                  },
                                  "Role": {
                                    "type": "integer"
                                  }
                                },
                                "required": [
                                  "Relation",
                                  "Role",
                                  "Cardinality",
                                  "NewValues",
                                  "RemovedValues"
                                ],
                                "type": "object"
                              },
                              "type": "array"
                            }
                          },
                          "type": "object"
                        },
                        "EventType": {
                          "type": "string"
                        },
                        "IsNew": {
                          "type": "boolean"
                        },
                        "TargetDefinition": {
                          "type": "string"
                        },
                        "TargetId": {
                          "type": "integer"
                        },
                        "TargetIdentifier": {
                          "type": "string"
                        },
                        "TimeStamp": {
                          "type": "string"
                        },
                        "UserId": {
                          "type": "integer"
                        },
                        "Version": {
                          "type": "integer"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              },
              "runAfter": {
                "作成": [
                  "Succeeded"
                ]
              }
            },
            "HTTP": {
              "type": "Http",
              "inputs": {
                "method": "GET",
                "uri": "@{variables('host_header')}api/entities/@{body('JSON_の解析')?['saveEntityMessage']?['TargetId']}",
                "headers": {
                  "Content-Type": "application/json",
                  "X-Auth-Token": "@variables('apitoken')"
                }
              },
              "runAfter": {
                "JSON_の解析": [
                  "Succeeded"
                ]
              }
            },
            "JSON_の解析_2": {
              "type": "ParseJson",
              "inputs": {
                "content": "@body('HTTP')",
                "schema": {
                  "properties": {
                    "created_by": {
                      "properties": {
                        "href": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "created_on": {
                      "type": "string"
                    },
                    "cultures": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "entitydefinition": {
                      "properties": {
                        "href": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "identifier": {
                      "type": "string"
                    },
                    "lifecycle": {
                      "properties": {
                        "href": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "modified_by": {
                      "properties": {
                        "href": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "modified_on": {
                      "type": "string"
                    },
                    "properties": {
                      "properties": {
                        "Advertisement_Body": {},
                        "Advertisement_Title": {},
                        "Blog_Body": {},
                        "Blog_Quote": {},
                        "Blog_Title": {},
                        "Content.ApprovedForCreation": {
                          "type": "boolean"
                        },
                        "Content.Brief": {},
                        "Content.ContentCompletenessStatus": {},
                        "Content.ContentStoryPoints": {},
                        "Content.ExpirationDate": {},
                        "Content.Impact": {},
                        "Content.IsInIdeationState": {},
                        "Content.Name": {
                          "type": "string"
                        },
                        "Content.NumberOfCreatedVersions": {
                          "type": "integer"
                        },
                        "Content.PublicationDate": {},
                        "Content.PublishedOn": {},
                        "Content.StrategyCompletenessStatus": {},
                        "Content.Variant": {},
                        "Email_Body": {},
                        "Email_Recipients": {},
                        "Email_Sender": {},
                        "Email_Subject": {},
                        "LIne_Message": {
                          "type": "string"
                        },
                        "M.Content.IsDraft": {},
                        "M.Content.IsVariant": {},
                        "MasterAssetIsContent": {},
                        "PublishStatus": {},
                        "PublishStatusDetails": {},
                        "Recipe_Cookinginstructions": {},
                        "Recipe_Ingredients": {},
                        "Recipe_Nutritionalfacts": {},
                        "Recipe_Title": {},
                        "Renditions": {},
                        "SocialMediaMessage_Body": {},
                        "SocialMediaMessage_Footer": {},
                        "Webinar_Description": {},
                        "Webinar_Title": {},
                        "WhitePaper_Body": {},
                        "WhitePaper_Footer": {},
                        "WhitePaper_Header": {},
                        "WhitePaper_Title": {}
                      },
                      "type": "object"
                    },
                    "renditions": {
                      "properties": {
                        "downloadOriginal": {
                          "items": {
                            "properties": {
                              "href": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "href"
                            ],
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "preview": {
                          "items": {
                            "properties": {
                              "href": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "href"
                            ],
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "thumbnail": {
                          "items": {
                            "properties": {
                              "href": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "href"
                            ],
                            "type": "object"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    },
                    "saved_selections": {
                      "properties": {
                        "href": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "version": {
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              },
              "runAfter": {
                "HTTP": [
                  "Succeeded"
                ]
              }
            },
            "For_each": {
              "type": "Foreach",
              "foreach": "@body('JSON_の解析_2')?['renditions']?['thumbnail']",
              "actions": {
                "JSON_の解析_3": {
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@items('For_each')",
                    "schema": {
                      "properties": {
                        "href": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "runAfter": {}
                },
                "変数の設定": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "imageurl",
                    "value": "@body('JSON_の解析_3')?['href']"
                  },
                  "runAfter": {
                    "JSON_の解析_3": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "runAfter": {
                "JSON_の解析_2": [
                  "Succeeded"
                ]
              }
            },
            "HTTP_2": {
              "type": "Http",
              "inputs": {
                "method": "POST",
                "uri": "https://api.line.me/v2/bot/message/broadcast",
                "headers": {
                  "Authorization": "Bearer @{parameters('linetoken')}"
                },
                "body": {
                  "messages": [
                    {
                      "type": "text",
                      "text": "Hello, user!"
                    }
                  ]
                }
              },
              "runAfter": {
                "For_each": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "linetoken": {
              "defaultValue": "<NEED TO UPDATE>",
              "type": "String"
            }
          },
          "triggers": {
            "1_つ以上のメッセージがトピックに届いたとき_(ピーク_ロック)": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['servicebus']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/@{encodeURIComponent(encodeURIComponent('line_topic'))}/subscriptions/@{encodeURIComponent('cmp')}/messages/batch/head/peek",
                "queries": {
                  "maxMessageCount": 20,
                  "subscriptionType": "Main",
                  "sessionId": "None"
                }
              },
              "recurrence": {
                "frequency": "Hour",
                "interval": 1
              },
              "splitOn": "@triggerBody()"
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "servicebus": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('PublishLINELocation'), '/managedApis/', 'servicebus')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('servicebus_2_Connection_Name'))]",
                "connectionName": "[parameters('servicebus_2_Connection_Name')]"
              }
            }
          }
        }
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2018-07-01-preview",
      "name": "[parameters('servicebus_2_Connection_Name')]",
      "location": "[parameters('PublishLINELocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('PublishLINELocation'), '/managedApis/', 'servicebus')]"
        },
        "displayName": "[parameters('servicebus_2_Connection_DisplayName')]",
        "parameterValues": {
          "connectionString": "[parameters('servicebus_2_connectionString')]"
        }
      }
    }
  ],
  "outputs": {}
}